---
import { Card } from '@eliancodes/brutal-ui';
import { Image } from 'astro:assets';


// Props for a single officer card
interface Props {
    officer: {
        name: string;
        position: string;
        imgSrc: string;
        imgAlt: string;
        bio: string;
    };
}

//const { title, imgAlt, imgSrc, description } = Astro.props;
const { officer } = Astro.props;
---

<Card color='white'>
  <h3 class='poppins text-lg md:text-xl'>{officer.position}</h3>
  <div class="my-4 mx-auto w-64 h-64 border-3 border-black overflow-hidden">
    <Image
      src={officer.imgSrc}
      alt={officer.imgAlt}
      width={400}
      height={400}
      class="h-full w-full object-cover"
    />
  </div>

  <h3 class='poppins text-lg md:text-xl'>{officer.name}</h3>
  <p class='poppins'>{officer.bio}</p>
  <slot />
</Card>
